from agents import ModelSettings, OpenAIProvider

provider = OpenAIProvider(
#    base_url="API PROVIDER URL HERE",
    api_key="YOUR KEY HERE"
)

openai_tracing_key = None

model = "openrouter/shady dave/shady dave's abliterated model" #NOTE: DO NOT ACTUALLY GET YOUR MODELS FROM SHADY DAVE

msettings = ModelSettings()